*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
p{
    font-weight:100;
    
    
}

h1{
    line-height: 60px;
    font-size: 2.7vmax;
}
body{
    
    max-width: 100%;
    overflow-x: hidden;
}
#header{

    width: 100%;
    height: 100vh;
   
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url('/eduford_img/banner.png');
    position: relative; ;
    background-size: cover;

}
nav{
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    background: rgba(5, 5, 5, 0.79);
    top:0;
    padding: 20px;
    z-index: 20;
}
nav::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    
    filter: blur(20px);
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
nav:hover::after{
    background: rgb(0, 0, 0);

}
nav a .logo{
    padding-top: 10px;
    width: 150px;


}
nav ul{
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav ul li{
    
    position: relative;
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: "Rubik", sans-serif;
}
nav ul li::after{
    content: "";
    position: absolute;
    background: #FF0000;
    bottom: -2px;
    left:0;
    height: 2px;
    width: 0%; 
    transition: 0.7s;
    
}
nav ul li:hover::after{
    width: 100%; 
   
}
.home-text{
    position: absolute;

    top:10vh;
    width: 100%;
    height: calc(100% - 10vh);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    color: white;
}
.home-text h1{
    color: white;
    font-family:  sans-serif;
    font-size: 60px;
    line-height: 70px;

}

.fa-solid{
  font-size: 0;
  
}
a{
    text-decoration: none;
    color: white;
}
.btn{
    width: 20%;
    height: 40px;
    color: white;
    background: rgba(123, 119, 119, 0.539);
    border-radius: 10px;
    outline: none;
    border: 2px solid #e9dede;
    transition: 0.5s;
}
.btn:hover{
    background: rgb(209, 92, 50);
    color: white;
}
@media (max-width:700px) {
    .menues{
    background:rgb(209, 92, 50);
    width: 200px;
    height: 100vh;
    transition: 1s;
    position: absolute;
    top:0;
    right: -200px;
    z-index: 2;
}
.home-text h1{
    font-size: 35px;
    line-height: 40px;
}
.home-text{
    gap: 40px;
}
nav a .logo{
    padding-top: 10px;
    width: 30vmin;


}
.btn{
    width: 80%;
    
}
nav ul{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 40px;

}
nav ul li{
    margin-top: 30px;
}
.fa-solid{
    position: absolute;
    top:50px;
    left:50px;
    font-size: 25px;
}
.fa-bars{
    position: absolute;
    left:-50px;
    top:20px;
    display: block ;
    color: #e9dede;
    
}
.fa-xmark{
    position: absolute;
    top:20px;
    left:10px;
    color: #e9dede;
}
}

/* ----- Course----- */

.course{
  
    width: 90%;
    margin: auto;
    padding: 100px 0;
    text-align: center;

}
.course-intro{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content:center ;
    
}
.course-intro div{
   background: rgba(233, 210, 210, 0.664);
   margin: 20px;
   padding: 20px;
   border-radius: 10px;
   
   min-width: 400px;
   flex-basis: 20%;
    transition: 0.5s;
}
.course-intro div:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    
}
.course-intro div h3{
    margin-bottom: 20px;
}
@media (max-width:700px) {
    .course-intro{
        flex-direction: column;
        flex-wrap: wrap;

    }
    .course-intro div{
        min-width: 0px;
        gap: 20px;
    }
    .course{
        width: 90%;
    }
}


/* ----- campus ----- */

#campus{
    
    width: 90%;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}
#campus > p{
    padding: 0 20px;
}
.row{
    
      display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    gap: 20px;
}
.campus-col{
    position: relative;
    flex-basis: 30%;
    min-width: 250px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
   
}
.campus-col img{
  width: 100%;
  display: block;
  
}
.campus-col .layer{
    width: 100%;
    position: absolute;
   height: 100%;
    padding: 0 20px;
    top: 100%;
    left: 0;
    background: rgba(52, 9, 9, 0.463);
    z-index: 2;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.campus-col:hover{
    .layer{
        top: 0;
        color: #e9dede;
    }
    
}
@media (max-width:700px) {


.campus-col{
    width: 80%;
    margin: auto;

}
.campus-col .layer h3{
    font-size: 4vmin;

}
.campus-col .layer p{
    font-size: 2.7vmin;
    margin-top: 10px;
}


}
@media (max-width:500px) {
    .campus-col{
        width: 100%;
        min-width: 300px;
    }
}


/* ------ facility ------ */

#facility{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align:center;
  

}
#facility >h1{
    font-size: 2.7vmax;
}

.facility-col{
    flex-basis: 28%;
    border-radius: 30px;
    margin-top:40px;
    display: block;
    min-width: 300px;
    
}

.facility-col img{
    width: 100%;
    display: block;
    border-radius: inherit;
    
  
    top: 0;

}
.facility-col .layer{
    padding: 40px 0;
    
    text-align: left;
    
    
}
.facility-col .layer h2{
    margin-bottom: 10px;
}


/* ------  student review ------ */


#stdreview{
    width: 90%;
    padding: 100px 0;
    margin: auto;
    text-align: center;
    height: fit-content;
}


.review-col{
    flex-basis: 44%;
    
    background: #d0636320;
    border-radius:10px ;
    display: flex;
    gap: 20px;
    padding: 20px;
    text-align: left;
    
    
}
.review-col img{
    height: 40px;
    margin: 5px;
    width: 40px;
    border-radius: 50%;
}
.review-col > div{
    display: flex;
    flex-direction: column;
   gap: 10px;
   
}
.review-col .fa{
    color: orangered;
}
@media (max-width:700px) {

.review-col{
    flex-basis: 100%;
}

}


/* ----- Call To Action -----  */

#cta{
    width: 80%;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(eduford_img/banner2.jpg);
    border-radius: 10px;
    height: auto;
    background-size: cover;
    background-position: center;
    padding : 80px 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-size: 20px;
    line-height: 40px;

}

#cta a{
    font-size: 10px;
    
}
#cta h1{
    padding: 0 9vmin;
}


@media (max-width:700px) {

#cta{
    width: 90%;
    gap: 20px;
}
#cta h1{
    line-height: 30px;
    font-size: 21px;
    padding: 0 15px;
}
}

/* ----- footer ------   */

footer{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}
footer i{
    color: rgb(71, 19, 27);
}
footer p{
    margin: 20px 10vmax;
    
}
footer i{
    margin: 0 10px;
    padding-bottom: 20px;
    font-size: 17px;
    transition: 0.5s;
}
footer i:hover{
    transform: scale(1.2);
}
#credits,#credits>i {
    margin: 0;
    font-size: 12px;

}

@media (max-width:700px) {
    footer p{
    margin: 20px 10px 30px ;
    }
    footer  h1{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
        line-height: 50px;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
    }
}

/* ----- CONTACT US -----  */

#sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(eduford_img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e9dede;
}
#sub-header > h1{
    font-size: 2.7vmax;
}
.about-us{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.about-col{
    flex-basis: 44%;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
    

    
}
.about-col h1{
    font-size: 3vmax;
    line-height: normal;
}
.about-col img{
    width: 100%;
}
.contact-btn{
    border: 2px solid orangered;
    padding: 10px 25px;
    gap: 20px;
  
    width: 30%;
    color: orangered;
}
.contact-btn:hover{
    background-color: orangered;
    color: white;
}

/* h1{
    font-size: 4vmin;
} */
@media (max-width:700px) {
  .contact-row{
    flex-direction: column;
    gap: 50px;
    
  }
  .contact-btn{
    width: 100%;
    margin: auto;
  }

}
.blog{
    width: 80%;
    margin: auto;
     
}
.blog-col-left{
    flex-basis: 68%;   
   
}
.blog-col-left p{
    padding: 1vmin 0;   
}

.blog-col-right {
    flex-basis: 30%;
    
    
}
.blog-col-left img{
    
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 4vmin;
}
.blog .row{
    gap:0;
    align-items: start;
    gap: 10px;
    
  }

  .blog-col-right h3{
    background: orangered;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  .blog-col-right div{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .leave-comment{
    width: 100%;
    
    margin-top: 100px;
    text-align: center;
  }
  .leave-comment h3{
    margin-bottom:30px ;
  }
  .leave-comment form{
    width: 90%;
   
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 3vmin;
    padding: 50px 0;
    border-radius: 10px;
    border: 1px solid black;
  }
  form > input , textarea{
    border-radius: 5px;
    margin: 2vmin auto;
    padding: 10px ;
    width: 80%;
    border: 1px solid #bcb3b3;
    outline: none;
    resize: vertical;
    background-color: #f0f0f0;
  }
  form > button{
    margin: auto;
    
  }

@media (max-width:700px) {
  .blog{
    width: 85%;
  }
  .blog .row{
    
    flex-direction: column;
    align-items: center;
  }
  .blog .row > div {
    margin-top: 50px;
    width:100%;
  }
  .blog p{
    font-size: 3.5vmin;
  }
  .leave-comment form{
    border: none;
  }
  form > input , textarea{
    width: 100%;
  }
  
   form > button {
    width: 80%;
    margin: auto;
    padding: auto;
   }
}


/* ----- CONTACTUS -----  */

iframe{
    margin-top: 50px ;
    width: 100%;
}
.contact{
    width: 90%;
    margin: auto;
}
.contact-col{
    width: 100%;

}
.contact-col .row{
    justify-content: start;
    align-self: start;
}
.contact-col > div{
    display: flex;
    margin: 20px 0;
    padding: 10px 0;
    justify-self: start;
    align-self: auto;

}
.contact-col > div  h5,p{
    font-size:2vmin;
}

.contact-col > div > .fa{
    font-size: 30px;
    margin: 0 30px;
    color: orangered;
}
.row .contact-col{

    flex-basis: 48%;
}
.contact-col form{
    width: 100%;
    
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 3vmin;
    padding: 50px 20px;
    border-radius: 10px;
    
}
.btn-contact-width{
    width: 50%;
}

@media (max-width:700px) {
    .row .contact-col{

    flex-basis: 100%;
}
.contact-col > div  h5,p{
    font-size:4vmin;
}
}
